@import "./partials/_bootstrap-overrides";

.navbar-brand {
  img {
    width: 100px;
  }
}
.user-img {
  width: 50px;
}
.row {
  img {
    width: 100%;
    transition: all 300ms;
    &:hover {
      scale: 1.5;
    }
  }
}
.icons {
  font-size: 20px;
}
