@import "./partials/_bootstrap-overrides";

:root {
  overflow-x: hidden;
}
nav {
  color: rgba(0, 0, 0, 0);
  .navbar-brand {
    img {
      width: 100px;
    }
  }
}
.user-img {
  width: 30px;
}
.row {
  img {
    width: 100%;
    transition: all 300ms;
    &:hover {
      scale: 1.5;
    }
  }
}
footer {
  @media screen and (min-width: 1024px) {
    width: 80vw;
    margin-inline: auto;
  }

  @media screen and (min-width: 1440px) {
    width: 50vw;
  }
  .icons {
    font-size: 30px;
  }
}
